/* , its a big mess stop looking at it */
:root {
--background: #2D2A32;
--primary: #FFF;
--dprimary: #AAA;
--secondary: #75749F;
}

html {
  background-color: var(--background);
  color: var(--primary);
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  margin: 0;
}

/* Layout with grid-template */
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 550px;
  grid-template-areas:
  "."
  "main"
  "footer";
}

.main-stuff {
  grid-column: main;
}

.bigboi {
  padding: 5px;
  font-size: 28px;
  background-color: var(--secondary);
  color: var(--background);
}


/* Social links */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover

li {
  background-color: var(--secondary);
  color: var(--background);
}

.socials {
  display: block;
  font-family: 'Press Start 2P', cursive;

  color: var(--background);
  border: 1px solid var(--secondary);
  background-color: var(--secondary);

  font-size: 10px;
  padding: 6px;
}

a:active, a:visited {
  color: var(--background);
}

/* Yes */
p, footer {
  text-align: center;
}
